{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-self-compare": 0,
    "react/no-multi-comp": 0,
    "prefer-destructuring": 0
  }
}